
body {
    background-color: rgb(70, 194, 211);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgb(197, 241, 243), 0 6px 20px 0 rgb(197, 241, 243);
    background-color: rgb(178, 234, 241);
    width: 80%;
    height: 60vh;
    position: relative;
}
h1 {
    text-align: center;
    color: blue;
    text-transform: uppercase;
}
p {
    background-color: blue;
    color: white;
    width: 97%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 30px;
}
.radio {
    background-color: rgb(223, 232, 233);
    border: 1px solid #ccc;
    width: 35vw;  
    height: 30px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    float: left;
    margin: 10px 20px;
}
.radio, button:hover{
    cursor: pointer;
}
#button {
    background-color: coral;
    border-radius: 20px;
    padding: 7px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    outline: none;
}
#button:active {
    outline: none;
}

