* {
	box-sizing: border-box;
}

div.test {
	float: left;
	width: 33.33%;
}

div.box1 {
	padding: 50px;
	margin: auto;
	background-color: gray;
	text-align: center;
}

div.box2 {
	padding: 50px;
	margin: auto;
	background-color: darkgray;
	text-align: center;
}

div.box3 {
	padding: 50px;
	margin: auto;
	background-color: lightgray;
	text-align: center;
}

#overflowTest {
	clear: left;
	background: #4CAF50;
	color: white;
	padding: 15px;
	margin-bottom: 10px;
	width: 50%;
	height: 150px;
	overflow: auto;
	/*overflow (overflow-x, overflow-y):visible(hidden, scroll)*/
	border: 1px solid #ccc;
}

.header,
.footer {
	background-color: gray;
	padding: 30px;
	margin: 5px;
}

.footer {
	clear: both;
}

div.middle {
	padding: 10px;
	float: left;
}

div.sidebar {
	width: 25%;
}

div.main {
	width: 75%;
}

div.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.sidebar li {
	display: block;
	padding: 5px;
	margin: 5px;
	background-color: #33b5e5;
	color: #fff;
}

div.sidebar li:hover {
	background-color: lightblue;
}

div.navbar {
	background-color: gray;
	margin: 50px 0px 100px;
	width: 100%;
}

div.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.navbar ul li {
	display: inline-block;
}

div.navbar ul li a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	padding: 15px;
}

div.navbar ul li a:hover:not(.active) {
	background-color: #000;
	color: #fff;
}

.active {
	background-color: green;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	background-color: lightblue;
	box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	display: block;
	padding: 14px 16px;
	color: black;
	text-decoration: none;
}

div.navbar ul li div.dropdown-content a:hover {
	background-color: green;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

div.dropdown2 {
	display: inline-block;
	position: relative;
	margin-bottom: 200px;
}

span.button {
	background-color: black;
	color: white;
	font-size: 25px;
	cursor: pointer;
	padding: 20px;
}

div.dropdown-content2 {
	position: absolute;
	margin-top: 12px;
	display: none;
	width: 100%;
	background-color: lightblue;
	border: 1px solid gray;
	z-index: 1;
	text-align: center;
}

div.dropdown-content2 a {
	display: block;
	padding: 14px 16px;
	background-color: gray;
	color: black;
	text-decoration: none;
	font-size: 16px;
}

div.dropdown-content2 a:hover {
	background-color: green;
	color: white;
	font-size: 20px;
}

div.dropdown2:hover .dropdown-content2 {
	display: block;
}