
#rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    box-shadow: 10px 10px 5px  rgba(1, 10, 255, 0.7);
}
.background {
    border: 10px dotted black;
    padding: 35px;
    background: url(../images/nature1.jpg) no-repeat yellow;
    height: 300px;
    background-size: 200px 250px;
    color: blue;
    background-origin: content-box;/*border-box*/
    background-clip: border-box;
}
html {
    background: url(../images/greenyellow.jpg) center no-repeat;
    background-size: cover;
}
.linear_gradient {
    width: 300px;
    height: 200px;
    margin: 20px;
    background-image: linear-gradient(to right, red, orange, yellow, green, violet, blue);
    transform: translate(20px, 10px);
    transform: rotate(20deg);
}
.radial_gradient {
    width: 300px;
    height: 200px;
    margin: 20px;
    background-image: radial-gradient(circle, red, yellow, green, blue);
    transform: scale(1.3, 1.4);
    transform: skew(20deg, 10deg);
}
.shadow {
    text-shadow: 2px 2px 5px green; /* (multiple shadows can be used with comma)*/
}
.text_overflow {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* can be 'clip'  as well*/
    border: 1px solid black;
}
.word-wrap {
    width: 12em;
    border: 1px solid black;
    word-wrap: break-word;
    word-break: break-all; /*could be 'keep-all' too*/
}
@font-face {
    font-family: sansation;
    src: url(../sansation/Sansation-Light.ttf);/*font-family should be downloaded to work*/
 }
 @font-face {
    font-family: sansation;
    src: url(../sansation/Sansation-Bold.ttf);
    font-weight: bold;
 }
 
 .font-family {
    font-family: sansation;
 }
 .transition {
     height: 100px;
     width: 100px;
     border: 1px solid red;
     background-color: green;
     transition: background-color 2s, width 2s, height 2s, transform 2s; 
     transition-timing-function: ease-in-out;
     transition-delay: 1s;
 }
 .transition:hover {
     width: 300px;
     height: 300px;
     text-align: center;
     transform: rotate(180deg);
     background: blue;
 }
